<!-- Mobile -->
<nav class="md:hidden flex justify-between p-4 bg-gradient-to-r from-violet-500 to-fuchsia-500">
    <div class="text-white ">
        <h1 class="text-md">Feecback Board</h1>
        <p class="text-sm">Frontend Mentor</p>
    </div>

    <button type="button">
        <img src="../../../assets/shared/mobile/icon-hamburger.svg">
    </button>
</nav>

<!-- Tablet / Desktop -->
<nav 
    class=" 
    hidden p-4
    lg:flex lg:flex-col lg:p-0 lg:space-y-5 lg:mr-5
    md:grid grid-cols-3 gap-x-3"
    >
    <div 
        class="flex flex-col justify-end 
        bg-gradient-to-r from-violet-500 to-fuchsia-500 
        lg:h-[130px] text-white p-5 rounded-lg"
        >
        <h1 class="text-lg">Feedback Board</h1>
        <p class="text-md">Frontend Mentor</p>
    </div>
    <app-tags></app-tags>
    <app-roadmap-box></app-roadmap-box>
</nav>