<div class="mt-10 max-w-screen-sm mx-5 sm:mx-auto">
    <a routerLink="/" class="inline-flex">
        <i class="text-sm fa-solid fa-arrow-left"></i>
        <p
            class="text-sm ml-2 md:ml-3">
            Go Back
        </p>
    </a>

    <div class="flex flex-col bg-white p-5 md:p-8 mt-10 rounded-lg">
        <form [formGroup]="feedbackForm">
            <h2
                class="text-lg py-3">
                {{ isCreatingFeedback ? 'Create New Feedback': 'Editing ...' }}
            </h2>

            <div class="py-3">
                <h3 class="text-sm">Feedback Title</h3>
                <label for="title" class="text-xs">Add a short, descriptive headline</label>
                <input
                    formControlName="title" 
                    type="text" 
                    id="title" 
                    class="bg-body w-full p-3 mt-3 rounded-lg">
            </div>

            <div class="py-3">
                <h3 class="text-sm">Category</h3>
                <label for="category" class="text-sm">Choose a category, for your feedback</label>
                <select 
                    formControlName="category"
                    id="category" 
                    class="bg-body w-full p-3 mt-3 rounded-lg"
                    >
                    <option value="">Feature</option>
                    <option value="">Feature</option>
                    <option value="">Feature</option>
                </select>
            </div>

            <div *ngIf="!isCreatingFeedback" class="py-3">
                <h3 class="text-sm">Update Status</h3>
                <label for="status" class="text-sm">Change Feature State</label>
                <select 
                    id="status"
                    class="bg-body w-full p-3 mt-3 rounded-lg"
                    >
                    <option value="">Kappa</option>
                    <option value="">Misiek</option>
                    <option value="">asdaf</option>
                </select>
            </div>

            <div class="py-3">
                <h3 class="text-sm">Feedback Detail</h3>
                <label for="detail" class="text-xs">
                    Include any specific comments on what 
                    should be improved, added, etc.
                </label>
                <textarea
                    formControlName="detail" 
                    id="detail" 
                    class="
                    bg-body w-full p-3 mt-3 rounded-lg 
                    min-h-[60px] h-24 max-h-60">
                </textarea>
            </div>

            <div class="
                flex flex-col sm:flex-row-reverse sm:justify-start 
                w-full py-3 mt-4">
                <button
                    type="submit" 
                    class="
                    bg-purple text-sm text-white p-3 sm:px-6 rounded-xl 
                    mb-3 sm:mb-0 sm:ml-3">
                    {{ isCreatingFeedback ? 'Add Feedback' : 'Save Changes' }}
                </button>
                <button
                    routerLink="/" 
                    type="button" 
                    class="bg-dark-blue text-sm text-white p-3 sm:px-6 rounded-xl">
                    Cancel
                </button>
                <button *ngIf="!isCreatingFeedback" type="button" class="bg-red-600">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>