<div class="mt-16 max-w-screen-xs md:max-w-screen-sm px-5 xs:mx-auto md:mx-auto">
  <app-return-home [text]="'Home page'"></app-return-home>
  <div class="flex flex-col bg-white p-5 md:px-8 md:py-10 mt-10 rounded-2xl shadow-md md:shadow-lg">
    <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
      <h2 class="text-dark-blue text-center text-sm md:text-lg font-medium uppercase mb-5">
        Login
      </h2>

      <div class="py-0.5">
        <label for="username" class="text-dark-blue text-xs md:text-sm">Username:</label>
        <input
          required
          ngModel
          name="username"
          type="text"
          id="username"
          placeholder="Enter username..."
          class="bg-body text-dark-blue w-full text-xs md:text-sm p-2 rounded-lg outline-blue" />
      </div>

      <div class="py-0.5">
        <label for="password" class="text-dark-blue text-xs md:text-sm">Password:</label>
        <div class="flex flex-row justify-between items-center w-full rounded-lg bg-body">
          <input
            required
            ngModel
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            placeholder="Enter password..."
            class="bg-body text-dark-blue w-full text-xs md:text-sm p-2 outline-0" />
          <i
            (click)="onShowPassword()"
            [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
            class="bg-body mr-2 text-dark-blue cursor-pointer fa-regular">
          </i>
        </div>
      </div>

      <div class="text-white text-xs md:text-sm flex flex-col my-3">
        <button
          (click)="onClear(loginForm)"
          type="button"
          class="bg-dark-blue p-2 mb-3 rounded-xl hover:opacity-90 transition-opacity duration-300">
          Clear
        </button>
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="bg-purple p-2 rounded-xl disabled:opacity-50 hover:opacity-90 transition-opacity duration-300">
          Login
        </button>
      </div>

      <div class="text-center text-xs md:text-sm">
        <p class="text-dark-blue">
          You don't have an account?
          <a routerLink="/auth/signup" class="text-purple cursor-pointer">Signup</a>
        </p>
      </div>
    </form>
  </div>
</div>
