<div class="bg-white p-5 rounded-xl mb-4">
    <div class="text-dark-blue">
        <ng-container *ngIf="(commentsResultDetails$ | async) as comments; else loading">
            <h3 class="font-medium text-sm md:text-base">
                {{ comments.length }} Comments
            </h3>
            <div
                *ngFor="let comment of comments; let last = last"
                class="text-xs md:text-sm my-3 px-1 md:my-5"
                >
                <div class="flex">
                    <app-comment-photo></app-comment-photo>
                    <div class="w-full">
                        <app-comment-content [comment]="comment"></app-comment-content>
                        <app-comment-reply></app-comment-reply>
                        <!-- Comment Reply -->
                        <!-- <div class="-ml-4 sm:-ml-5 mt-5 flex">
                            <app-comment-photo></app-comment-photo>
                            <div>
                                <app-comment-content></app-comment-content>
                                <app-comment-reply></app-comment-reply>     
                            </div>
                        </div> -->
                    </div>
                </div>
                <hr *ngIf="!last" class="text-gray mt-3 md:mt-5">
            </div>
        </ng-container>

        <ng-template #loading>
            <mat-spinner color="accent" class="mx-auto"></mat-spinner>
        </ng-template>
    </div>
</div>