<article
    [routerLink]="['edit-feedback', post._id]"
    *ngFor="let post of feedbackArr" 
    class="bg-white p-5 my-4 rounded-xl cursor-pointer"
    [ngClass]="post.status.toLowerCase()"
    >
    <app-feedback-details
        [status]="post.status" 
        [feedbackDetails]="
        { 
            title: post.title, 
            description: post.description, 
            category: post.category 
        }">
    </app-feedback-details>

    <div class="flex justify-between text-sm">
        <app-upvotes-button [upvotes]="post.upvotes"></app-upvotes-button>
        <app-comment-icon [comments]="0"></app-comment-icon>
    </div>
</article>