<header 
    class="
    bg-header text-white
    max-w-screen-lg lg:mx-auto
    md:mx-5 p-4 md:rounded-lg 
    flex justify-between items-center"
    >
    <div 
        *ngIf="actualPage === 'Suggestions'" 
        class="hidden md:flex md:items-center"
        >
        <i class="fa-regular fa-lightbulb mr-2"></i>
        <p class="tesxt-sm md:text-md">{{ countSuggestions$ | async }} Suggestions</p>
    </div>
    <div *ngIf="actualPage === 'Suggestions'" class="text-sm md:text-md">
        <label for="posts" class="mr-1">Sort by:</label>
        <select
            class="bg-transparent" 
            name="Sorting posts" 
            id="posts"
            >
            <option 
                class="text-blue"
                *ngFor="let option of optionArr"
                [value]="option">
                {{ option }}
            </option>
        </select>
    </div>

    <div *ngIf="actualPage === 'Roadmap'">
        <a routerLink="/" class="inline-flex">
            <i class="text-xs fa-solid fa-arrow-left"></i>
            <p
                class="text-xs md:text-sm ml-2 md:ml-3">
                Go Back
            </p>
        </a>
        <h2 class="text-sm md:text-lg">Roadmap</h2>
    </div>

    <button
        routerLink="/create-feedback"
        class="bg-purple text-sm md:text-md py-2 px-3 rounded-md"
        type="button">
        + Add Feedback
    </button>
</header>