<div class="md:h-full lg:h-auto flex flex-col justify-between bg-white rounded-lg p-5">
    <div class="flex justify-between items-center">
        <h3 class="text-sm md:text-base text-dark-blue font-semibold">Roadmap</h3>
        <a 
            routerLink="/roadmap"
            class="text-blue hover:text-dark-blue transition-colors
            text-xs md:text-sm underline"
            >
            View
        </a>
    </div>
    <div class="pt-5 text-xs md:text-sm">
        <div class="flex justify-between items-center text-gray">
            <div class="flex flex-row items-center">
                <div class="w-2 h-2 rounded-full bg-planned-status mr-2"></div>
                <p>Planned</p>
            </div>
            <span>{{ !isLoading ? countPlanned : '...' }}</span>
        </div>

        <div class="flex justify-between items-center text-gray my-1">
            <div class="flex flex-row items-center">
                <div class="w-2 h-2 rounded-full bg-progress-status mr-2"></div>
                <p>In-Progress</p>
            </div>
            <span>{{ !isLoading ? countInProgress : '...' }}</span>
        </div>

        <div class="flex justify-between items-center text-gray">
            <div class="flex flex-row items-center">
                <div class="w-2 h-2 rounded-full bg-live-status mr-2"></div>
                <p>Live</p>
            </div>
            <span>{{ !isLoading ? countLive : '...' }}</span>
        </div>
    </div>
</div>