<div class="h-[170px] flex flex-col justify-between bg-white rounded-lg p-5">
    <div class="flex justify-between">
        <h3 class="text-md">Roadmap</h3>
        <a class="text-sm underline" routerLink="/roadmap">View</a>
    </div>
    <div>
        <div class="flex justify-between">
            <p>Planned</p>
            <span>0</span>
        </div>
        <div class="flex justify-between">
            <p>In progress</p>
            <span>0</span>
        </div>
        <div class="flex justify-between">
            <p>Planned</p>
            <span>0</span>
        </div>
    </div>
</div>