<div class="lg:grid lg:grid-cols-5 lg:mt-16 lg:px-5 max-w-screen-xlg mx-auto">
    <app-navigation class="lg:col-span-1"></app-navigation>
    <div class="lg:col-span-4">
        <app-header 
            [actualPage]="'Suggestions'" 
            [countSuggestions]="allSuggestions">
        </app-header>
        <main class="px-4 lg:px-0 py-5">

            <section *ngIf="feedbackData && !isLoading">
                <app-empty-feedback *ngIf="!feedbackData.length"></app-empty-feedback>
                <app-feedback-information
                    *ngIf="feedbackData.length" 
                    [feedbackArr]="feedbackData">
                </app-feedback-information>
                <mat-paginator
                    class="rounded-lg" 
                    *ngIf="feedbackData.length"
                    [pageIndex]="currentPage - 1"
                    [length]="allSuggestions"
                    [pageSize]="itemsPerPage"
                    [pageSizeOptions]="itemsOptions"
                    (page)="onChangedPage($event)">
                </mat-paginator>
            </section>

            <div *ngIf="isLoading">
                <mat-spinner color="accent" class="mx-auto"></mat-spinner>
            </div>
        </main>
    </div>
</div>