<form #commentReply="ngForm" class="flex flex-col mt-3 md:mt-5">
  <textarea
    placeholder="Type your comment reply..."
    required
    [(ngModel)]="author"
    name="reply"
    [maxLength]="250"
    class="resize-y bg-body text-dark-blue p-2 h-16 max-h-24 rounded-lg outline-blue">
  </textarea>
  <div class="text-white text-xs md:text-sm mt-2 flex justify-end">
    <button
      (click)="onCancel()"
      type="button"
      class="bg-red-500 p-2 sm:px-4 mr-2 rounded-md cursor-pointer hover:opacity-80 transition-opacity duration-300">
      Anuluj
    </button>
    <button
      (click)="onReply()"
      class="bg-purple p-2 sm:px-4 rounded-md cursor-pointer hover:opacity-80 transition-opacity duration-300">
      Post reply
    </button>
  </div>
</form>
