<div class="mx-3">
    <div class="bg-white rounded-lg
        flex flex-col items-center md:justify-center md:flex-row
        mt-16 p-3 mx-auto max-w-screen-xlg"
        >
        <div class="text-dark-blue mb-3 md:mb-0 mr-5 lg:mr-10">
            <h2 class="font-medium text-lg md:text-xl mb-2">Error 404</h2>
            <p class="text-sm">The requested URL doesn't exist on this server.</p>
            <a routerLink="/" class="text-blue hover:text-sky-400 transition-colors text-sm">
                Back to home page
            </a>
        </div>
        <img src="../../../assets/shared/404_ghost.png" alt="Ghost 404 error image">
    </div>
</div>