a {
    transition:  background-color .3s, color .3s;
}

a:hover {
    background-color: #818fd8;
    color: rgb(255, 255, 255);
}

.tag-background {
    background-color: #4761E6;
    color: white;
}