<div
    class="flex flex-col items-center bg-white px-5 rounded-lg py-24">
    <img
        src="../../../assets/suggestions/illustration-empty.svg" 
        class="mb-3">
    <h2 class="text-dark-blue text-lg my-4 font-semibold">There is no feedback yet.</h2>
    <p class="text-gray text-center text-sm mb-5 max-w-xs">
        Got a suggestion? Found a bug that need to be squashed?
        We love hearing about new ideas to improve your app.
    </p>
    <app-add-feedback-button *ngIf="isAuthenticated"></app-add-feedback-button>
    <app-login-button  *ngIf="!isAuthenticated"></app-login-button>
</div>