<div class="md:mt-16 mb-5 mx-auto lg:px-4 max-w-screen-lg">
  <app-header [actualPage]="'id'"></app-header>
</div>
<div class="px-4 pb-8 md:pb-10 lg:pb-16 max-w-screen-lg mx-auto">
  <ng-container *ngIf="feedback$ | async as feedback">
    <div class="flex justify-end items-center mb-4">
      <app-edit-button
        *ngIf="feedback.author === currentUserID"
        [feedbackID]="feedbackID">
      </app-edit-button>
    </div>
    <app-feedback-information [feedback]="feedback"></app-feedback-information>
    <app-comment *ngIf="feedback.comments.length" [commentsIds]="feedback.comments"></app-comment>
    <app-no-comment *ngIf="!feedback.comments.length"></app-no-comment>
  </ng-container>

  <mat-spinner *ngIf="isLoading && !connectionError" color="accent" class="mx-auto"></mat-spinner>
  <app-error-info *ngIf="!isLoading && connectionError"></app-error-info>

  <app-add-comment *ngIf="isAuthenticated" [feedbackID]="feedbackID!"></app-add-comment>
</div>
